In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'apples':[3,2,0,2],'oranges':[0,3,7,2]}

In [3]:
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       2        2

In [5]:
purchases = pd.DataFrame(data,index=['sneha','papi','priya','jayshree'])
purchases

          apples  oranges
sneha          3        0
papi           2        3
priya          0        7
jayshree       2        2

In [ ]:
# wanted to get the output of what exactly priya has purchases....wanted to locate priya

In [6]:
purchases.loc['priya']

apples     0
oranges    7
Name: priya, dtype: int64

In [8]:
purchases.loc['sneha']

apples     3
oranges    0
Name: sneha, dtype: int64

In [9]:
purchases.iloc[1]

apples     2
oranges    3
Name: papi, dtype: int64

In [ ]:
# reading the data from SCVs:

In [16]:
df = pd.read_csv('purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [ ]:
#to avoid system genedrated indexing:

In [20]:
df = pd.read_csv('purchases.csv',index_col=0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
#reading the data from json:

In [22]:
df = pd.read_json('purchases.json')
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
#jso--csv i want to convert:

In [29]:
df.to_csv('new_purchase.csv')

In [31]:
df = pd.read_csv('new_purchase.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2