In [ ]:
DataFrames:

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [ ]:
#creating an empty DataFrames.

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#creating a dataframe from a list.

In [5]:
data = [1,2,3,4,5]

In [6]:
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
data = [['papi',10],['krithika',9],['ibrahim',8],['priya',9],['raj',8]]

In [8]:
df = pd.DataFrame(data,columns=['name','mark'])
print(df)

       name  mark
0      papi    10
1  krithika     9
2   ibrahim     8
3     priya     9
4       raj     8

In [9]:
df = pd.DataFrame(data)
print(df)

          0   1
0      papi  10
1  krithika   9
2   ibrahim   8
3     priya   9
4       raj   8

In [11]:
df = pd.DataFrame(data,columns=['Name','mark'],index=['rank1','rank2','rank3','rank4','rank5'])
print(df)

           Name  mark
rank1      papi    10
rank2  krithika     9
rank3   ibrahim     8
rank4     priya     9
rank5       raj     8

In [ ]:
#creating a datatype by using a dict of ndarray.

In [12]:
data = {'Name':['jayshree','haripriya','priya','raj'],'points':[100,95,90,85]}

In [15]:
df = nd.DataFrame(data)
print(df)

NameError: name 'nd' is not defined

In [16]:
data = [{'a':1,'b':2},{'a':5,'b':4,'c':3}]

In [18]:
df = pd.DataFrame(data,index=['first','second'])
print(df)

        a  b    c
first   1  2  NaN
second  5  4  3.0